<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">submit</button>
    </form>
</body>
</html>
